{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}{% endblock %}
    <!--break-->
    <div class="footer">
        <div class="container">
            <div class="row margin5 margin-10">
                <div class="span12">
                    <a href="http://www.webhera.fr">By Webhera</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block js %}
    {% block js_inline %}{% endblock %}
{% endblock %}